	</div>
	</div>
	</div>
</div>

</div>
</body>
<script type="text/javascript" src="/assets/js/jquery.tweet.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12048513-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

$(function(){
      $("#tweets").tweet({
        avatar_size: 0,
        count: 1,
        username: "witty_name",
        loading_text: "Searching Twitter... <br />Please be patient",
        refresh_interval: 200,
        template: function(i){return i["text"]}
      });
    });
    //$('#tapir').tapir({'token': '4de320213f61b02b18000019', 'complete' : removethatish(); });
</script>
</html>