html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:' ';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}a,h1 a,h2 a{text-decoration:none}a img{border:none}table{border-collapse:collapse;border-spacing:0}body,h1,h2,h3,h4{font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal}

/* Grid */
.container_7 { margin-left: auto;margin-right: auto;width: 560px;}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11 { display:inline; float: left; position: relative; margin-left: 10px; margin-right: 10px; }
.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6, .push_7, .pull_7, .push_8, .pull_8, .push_9, .pull_9, .push_10, .pull_10, .push_11, .pull_11 { position:relative; }
.alpha { margin-left: 0;}
.omega { margin-right: 0;}
.container_7 .grid_1 { width:60px;}
.container_7 .grid_2 { width:140px; }
.container_7 .grid_3 { width:220px; }
.container_7 .grid_4 { width:300px; }
.container_7 .grid_5 { width:380px; }
.container_7 .grid_6 { width:460px; }
.container_7 .grid_7 { width:540px; }
.container_7 .prefix_1 { padding-left:80px; }
.container_7 .prefix_2 { padding-left:160px; }
.container_7 .prefix_3 { padding-left:240px; }
.container_7 .prefix_4 { padding-left:320px; }
.container_7 .prefix_5 { padding-left:400px; }
.container_7 .prefix_6 { padding-left:480px; }
.container_7 .prefix_7 { padding-left:560px; }
.container_7 .prefix_8 { padding-left:640px; }
.container_7 .prefix_9 { padding-left:720px; }
.container_7 .suffix_1 { padding-right:80px; }
.container_7 .suffix_2 { padding-right:160px; }
.container_7 .suffix_3 { padding-right:240px; }
.container_7 .suffix_4 { padding-right:320px; }
.container_7 .suffix_5 { padding-right:400px; }
.container_7 .suffix_6 { padding-right:480px; }
.container_7 .push_1 { left:80px; }
.container_7 .push_2 { left:160px; }
.container_7 .push_3 { left:240px; }
.container_7 .push_4 { left:320px; }
.container_7 .push_5 { left:400px; }
.container_7 .push_6 { left:480px; }
.container_7 .push_7 { left:560px; }
.container_7 .push_8 { left:640px; }
.container_7 .push_9 { left:720px; }
.container_7 .pull_1 { left:-80px; }
.container_7 .pull_2 { left:-160px; }
.container_7 .pull_3 { left:-240px; }
.container_7 .pull_4 { left:-320px; }
.container_7 .pull_5 { left:-400px; }
.container_7 .pull_6 { left:-480px; }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}
.clearfix:before, .clearfix:after { content: '\0020';display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.clearfix:after { clear: both;}

body{font-family: 'lucida grande', 'helvetica neue', 'helvetica',  sans-serif;background: url('../img/bkgd.jpg') repeat top left #666; color: #222;min-width: 800px; font-size: 14px;}
h1, h2, h3, h4{font-family: 'Quattrocento Sans', arial, serif;font-weight: normal; color: #81625a;}
h1{margin: 15px; font-size: 1.5em;}
h2{margin: 10px; font-size: 1.3em;}
div{background: #ececec;}
a{text-decoration: none; color: #47527D;}
a:hover{text-decoration: underline; color: #81625a;}
a:visited{color: #81625a;}

#site{background: transparent;}
#above_header{height:69px;}
#header{height:95px; background: #c7c7c7; border-color: #9e9e9e; border-top: 1px solid; border-bottom: 1px solid;}
#header_box{border-color:#c7c7c7; border-left:1px solid; height:100%;background: #c7c7c7;}
#twitter{border: 2px solid #1B84E0; background: #B6DAFA; position: relative; z-index: 10; left: -69px; margin:23px 0; font-size: .8em;}
#twitter td{border-right: .5px solid #1b84e0;padding: 10px;}
#twitter h3{vertical-align: middle; font-size: 1.3em;} 
#twitter h3 a{color: #363232 !important;}
#branding{position: relative; background: transparent; top: -95px; left: 475px;}
#branding h1{margin: 0;}
#branding p{margin: 10px 0 12px 0; font-size: .8em;}
#navigation{float: left; font-size: .8em;}
#navigation li{float: left; margin-right: 10px;}

#content_box{ clear: both; margin: 0 auto; position: relative; top: -86px; width: 560px; }
#content{float: left; width: 560px; padding: 20px 0; word-wrap: break-word;}
#content p{ margin: 10px; line-height: 1.3em; }
#content pre, code{ margin: 10px; line-height: 1.3em; }
#content a{padding: 1px 4px; background: #777; color: #fff; border-radius: 2px;}
#content h2 a{padding: 0; color:#47527d !important; background: transparent;}
#content a:hover{text-decoration: none; background: #444;}
#content h2 a:hover{padding: 0; color:#47527d !important; background: transparent;}
.post_date{font-size: .8em; margin-left: 10px; color: #777;}
.post{margin-bottom: 20px; background: transparent; padding-left: 30px;}
.post_url{margin-left: 10px;}

.blog{background:url(../img/grey_icon_blog.png) no-repeat 0 center; }
.code{background:url(../img/grey_icon_gist.png) no-repeat 0 center; }
.photo{background:url(../img/grey_icon_photo.png) no-repeat 0 center;}
.music{background:url(../img/grey_icon_music.png) no-repeat 0 center;}
.quote{background:url(../img/grey_icon_quote.png) no-repeat 0 center;}

/* music icon: http://dribbble.com/ckck */
.musicPost{padding:10px; width: 90px; min-height: 40px; float:left;background:url(../img/grey_icon_music.png) no-repeat 75px 5px; margin:0 15px 15px 0; border-right: 2px solid #AAACAF}

#wrapper{min-height: 800px; background: #ececec;border-color: #666; border-left: 2px solid; border-right: 2px solid;}
